* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(240, 243, 243);
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.instagram-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 60%;
  height: 100vh;
}

.instagram-phone img {
  height: 50rem;
  margin-top: 35px;
}

.instagram-phone,
.section-login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  width: 375px;
  margin-bottom: 30px;
}

.box-account {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  min-height: 34rem;
}

.group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  padding: 1.3rem 0;
  border: 1px solid lightgray
}

.group:nth-child(1) {
  min-height: 22em;
  padding: 1em 5em;
}

.instagram-logo {
  height: 6rem;
}
.profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.profile-photo img {
  height: 7rem;
}

.instagram-login {
  background-color: #0990ea;
  color: #ffffff;
  padding: 8px;
  border-radius: 4px;
  font-weight: bolder;
  text-align: center;
}

.instagram-login:hover {
  background-color: #0095f6;;
}

.instagram-logout {
  color: #0095f6;
  margin-top: 1rem;
}

.not-account {
  color: rgb(160, 160, 160);
  cursor: pointer;
}

.link-blue {
  color: #0095f6;
  font-weight: bolder;
}

.get-the-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.3rem;
  width: 100%;
  font-weight: bolder;
}

p .get-the-app {
  margin-top: 0;
}

.download {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.app-download {
  height: 3rem;
  width: 10rem;
  background-size: cover;
}

.app-download:nth-child(1) {
  background-image: url('./img/apple_button.jpg');
}

.app-download:nth-child(2) {
  background-image: url('./img/google_button.jpg');
  margin-left: 5px;
}

@media (max-width: 1024px) {
  .instagram-wrapper {
    widows: 100%;
    position: relative;
  }
  .instagram-phone {
    display: 50%;
  }
  .box-account {
    width: 100%;
  }
}

@media (max-width: 620px) {
  .instagram-wrapper {
    width: 90%;
    position: relative;
  }
  .instagram-phone {
    display: none;
  }
  .box-account {
    width: 100%;
  }
}
